<%- include('../common/header-public'); %>
    <div class="text-center">
        <div class="alert alert-danger" role="alert">
            <H1>
                <%= titulo %>
            </H1>
            <p>
                <%= error %>
            </p>
        </div>
    </div>
    <div class="container">
        <a href="/user"><button type="button" class="btn btn-outline-success">Sitio Usuarios</button></a>
    </div>

    <%- include('../common/footer'); %>