<%- include('header-public', {tituloPagina: "About" }); %>

    <div class="container mt-5">
        <h1>Acerca del foro</h1>
        <p>"Mi Foro Web" es una plataforma en línea que brinda un espacio para que las personas compartan sus ideas,
            conocimientos y experiencias en una variedad de temas. Nos enorgullecemos de ser una comunidad inclusiva y
            respetuosa que valora la diversidad de perspectivas.</p>

        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es proporcionar un entorno en línea seguro y accesible donde los usuarios puedan expresarse
            libremente y aprender unos de otros. Fomentamos la colaboración, el respeto y el aprendizaje constante.</p>

        <h2>Únete a Nosotros</h2>
        <p>Te invitamos a unirte a nuestra comunidad y a ser parte de esta experiencia enriquecedora. Ya sea que desees
            compartir tus conocimientos, aprender algo nuevo o simplemente participar en conversaciones significativas,
            aquí encontrarás un lugar para hacerlo.</p>
    </div>

    <%- include('footer'); %>