<%- include('header-public'); %>
<div class="text-center">
    <div class="alert alert-danger" role="alert">
        <H1><%= titulo %></H1>
        <p> <%= error %> </p>
    </div>
</div>
<%- include('footer'); %>