<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="/img/page_coding_development_programming_browser_content_web_website_seo_icon_230032.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>
        <%= tituloPagina %>
    </title>
</head>

<body>
    <%- include('nav'); %>